// The Random Theme.

// [ Starting ] Common
TransparentColor=1,1,1
WidgetTransparentColor=2,2,2
// [ Ending ] Common

// [ Starting ] Window Styles.
WindowBorderRadius=14
WindowBorderFocusColor=1,148,255
WindowBorderUnfocusColor=100,100,100
WindowBorderOpacity=100

WindowBackgroundColor=0,12,24

WindowCursor=Themes\RandomTheme\Arrow.CursorData
WindowLeftResizeCursor=Themes\RandomTheme\LeftResize.CursorData
WindowRightResizeCursor=Themes\RandomTheme\RightResize.CursorData
WindowTopResizeCursor=Themes\RandomTheme\TopResize.CursorData
WindowBottomResizeCursor=Themes\RandomTheme\BottomResize.CursorData

WindowTopLeftResizeCursor=Themes\RandomTheme\TopLeftResize.CursorData
WindowTopRightResizeCursor=Themes\RandomTheme\TopRightResize.CursorData
WindowBottomLeftResizeCursor=Themes\RandomTheme\BottomLeftResize.CursorData
WindowBottomRightResizeCursor=Themes\RandomTheme\BottomRightResize.CursorData

WindowTitleBarBackgroundColor=16,25,44

WindowTaskBarIcon=Themes\RandomTheme\TaskBarIcon.IconData
WindowFocusIcon=Themes\RandomTheme\FocusIcon.IconData
WindowUnfocusIcon=Themes\RandomTheme\UnfocusIcon.IconData

WindowTitleBarTextFocusColor=255,255,255
WindowTitleBarTextUnfocusColor=100,100,100

WindowTitleBarCloseButtonHoverBackgroundColor=210,17,35
WindowTitleBarCloseButtonFocusBackgroundColor=16,25,44
WindowTitleBarCloseButtonUnfocusBackgroundColor=16,25,44
WindowTitleBarCloseButtonHoverTextColor=200,200,200
WindowTitleBarCloseButtonFocusTextColor=200,200,200
WindowTitleBarCloseButtonUnfocusTextColor=100,100,100

WindowTitleBarMaximizeButtonHoverBackgroundColor=40,48,65
WindowTitleBarMaximizeButtonFocusBackgroundColor=16,25,44
WindowTitleBarMaximizeButtonUnfocusBackgroundColor=16,25,44
WindowTitleBarMaximizeButtonHoverTextColor=200,200,200
WindowTitleBarMaximizeButtonFocusTextColor=200,200,200
WindowTitleBarMaximizeButtonUnfocusTextColor=100,100,100

WindowTitleBarMinimizeButtonHoverBackgroundColor=40,48,65
WindowTitleBarMinimizeButtonFocusBackgroundColor=16,25,44
WindowTitleBarMinimizeButtonUnfocusBackgroundColor=16,25,44
WindowTitleBarMinimizeButtonHoverTextColor=200,200,200
WindowTitleBarMinimizeButtonFocusTextColor=200,200,200
WindowTitleBarMinimizeButtonUnfocusTextColor=100,100,100

WindowTitleBarSettingButtonHoverBackgroundColor=40,48,65
WindowTitleBarSettingButtonFocusBackgroundColor=16,25,44
WindowTitleBarSettingButtonUnfocusBackgroundColor=16,25,44
WindowTitleBarSettingButtonHoverTextColor=200,200,200
WindowTitleBarSettingButtonFocusTextColor=200,200,200
WindowTitleBarSettingButtonUnfocusTextColor=100,100,100

WindowStatusBarBackgroundColor=0,148,255
WindowStatusBarTextFocusColor=255,255,255
WindowStatusBarTextUnfocusColor=100,100,100
// [ Ending ] Window Styles.

// [ Starting ] Label Styles.
LabelBackgroundColor=0,12,24
LabelTextColor=255,255,255
// [ Ending ] Label Styles.

WindowMenuBackgroundColor=24,31,47
WindowMenuTextHoverColor=255,255,255
WindowMenuTextUnhoverColor=240,240,240
WindowMenuBorderColor=1,148,255
WindowMenuBorderRadius=10

WindowMenuItemHoverBackgroundColor=1,148,255
WindowMenuItemUnhoverBackgroundColor=24,31,47
WindowMenuItemHoverBorderColor=1,148,255
WindowMenuItemUnhoverBorderColor=24,31,47
WindowMenuItemBorderRadius=8
WindowMenuItemBorderColor=1,148,255
WindowMenuItemHoverTextColor=255,255,255
WindowMenuItemUnhoverTextColor=240,240,240

// [ Starting ] TopLevelWindow Styles
TopLevelWindowBackgroundColor=0,12,24
TopLevelWindowBorderRadius=14
TopLevelWindowBorderColor=1,148,255
TopLevelWindowTitleBarBackgroundColor=16,25,44
TopLevelWindowTitleBarTextColor=255,255,255
TopLevelWindowCloseButtonBackgroundUnhoverColor=16,25,44
TopLevelWindowCloseButtonBackgroundHoverColor=210,17,35
TopLevelWindowCloseButtonTextHoverColor=200,200,200
TopLevelWindowCloseButtonTextUnhoverColor=200,200,200
// [ Ending ] TopLevelWindow Styles